# https://fabianlee.org/2017/06/05/ansible-managing-a-windows-host-using-ansible/
---

- hosts: windows
  vars:
    ansible_user: Administrator@corp.net
    ansible_password: password2!
    ansible_connection: winrm
    ansible_winrm_transport: kerberos
    ansible_winrm_server_cert_validation: ignore
    become: yes
  tasks:
    - name : System Info
      debug:
        msg: "OS is {{ ansible_os_family }}"

    # We prefer to make the Administrator background bright red
    - name: Set red background for user ictadmin
      win_regedit:
        path: '{{ item.path }}'
        name: '{{ item.name }}'
        data: '{{ item.data }}'
        type: '{{ item.type }}'
      with_items:
      - path: HKCU:\Control Panel\Desktop
        name: Wallpaper
        data: ''
        type: string
      - path: HKCU:\Control Panel\Desktop
        name: WallpaperStyle
        data: 10
        type: string
      - path: HKCU:\Control Panel\Colors
        name: Background
        data: '232 17 35'
        type: string
      tags:
      - bg
      - registry